<h1>Login!</h1>
<br>
<div class="container">
    <div *ngIf='invalidLogin' class="alert alert-warning">{{errorMessage}}</div>
    <div>
        <label for="username">
            Username: 
        </label>
        <input type="text" name="username" [(ngModel)] = "username" >

        <label for="password">
            Password: 
        </label>
        <input type ="password" name="password" [(ngModel)] = "password">
        <button (click)=handleBasicAuthLogin() class="btn btn-success">
            Login
        </button>
    </div>
</div>
