<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href ="" class="navbar-brand">To Do Um</a>
        </div>
        <ul class="navbar-nav" >
            <li><a routerLink="/welcome/Levi" class="nav-link" *ngIf="hardCodedAuthinticationService.isUserLoggedIn()">Home</a></li>
            <li><a routerLink="/todos" class="nav-link" *ngIf="hardCodedAuthinticationService.isUserLoggedIn()">ToDos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link" *ngIf="!hardCodedAuthinticationService.isUserLoggedIn()">Login</a></li>
            <li><a routerLink="/logout" class="nav-link" *ngIf="hardCodedAuthinticationService.isUserLoggedIn()">Logout</a></li>
        </ul>
    </nav>
</header>
